body {
	background: tan;
}

img {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

img.avatar {
	margin: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 0px;
}

header {
	background: sienna;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: tan;
	font-family: "Georgia";
	margin: 10px;
	padding-left: 0px;
}

#header-items li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
}

#header-title {
	font-size: 70px;
	margin-bottom: 0px;
}

#header-items {
	margin: auto;
	margin-left: 0px;
}

h4 {
	margin-bottom: 2px;
}

div.image {
	text-align: center;
	font-family: Calibri;
	font-size: 12px;
}

article {
	margin: auto;
	margin-top: 5px;
	width: 600px;
	font-family: "Arial";
	background: rgba(255,255,255,0.5);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

article span.post-title {
	font-size: 20px;
	font-family: "Georgia";
	font-weight: bold;
}

footer {
	text-align: center;
	margin: auto;
	font-size: 12px;
	font-family: "Calibri";
}
